<ion-header>
  <ion-toolbar>
    <ion-title>Administración dias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <div class="hola"> 
    <ion-item class="selDia">
    <ion-datetime displayFormat="DD/MM/YYYY" min="2019-10-15" max="2025-10-15" placeholder="Pulsa para seleccionar un día"><br></ion-datetime>
    </ion-item>
    <div class="divCentrado"> 
      <ion-button class="round">Agregar día libre</ion-button>
    </div>

    </div>


  <div class="divContenedor">
    <ion-virtual-scroll [items]="listado">
      <ion-item *virtualItem="let item" class="dias" lines="none">
        <div class="item-content">
        {{ item.diaLibre }}
        </div>
      </ion-item>
    </ion-virtual-scroll>
  </div>
</ion-content>
