<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="lista-citas">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-clientes">
      <ion-icon name="people"></ion-icon>
      <ion-label>Lista de clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-dias">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Gestión días</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
